/* *** S1 HUD *** */
#scanner {
  padding: 14.5vw;
  height: 60vh;
  width: 100%;
  color: #eeeeee;
  transition: all 400ms ease-out; 
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
#scanner svg {
  width: 100%;
  height: 100%;
  transition: all 400ms ease-out;
}
#scanner svg line {
  opacity: 0;
  transform: translateY(0px);
}
#scanner.scanning {
  color: #26E1AB;
  padding: 18vw;
}
#scanner.scanning svg line {
  animation-name: expand, scanning, expand, blip;
  animation-duration: 500ms, 2s, 400ms, 50ms;
  animation-direction: normal, alternate, reverse, normal; 
  animation-timing-function: 
    cubic-bezier(0.5, 0, 0.75, 0),
    cubic-bezier(0.76, 0, 0.24, 1),
    cubic-bezier(0.5, 0, 0.75, 0),
    ease;
  animation-fill-mode: forwards; 
  animation-delay: 500ms, 1000ms, 3000ms, 3400ms;
}
@keyframes expand {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes scanning {
  0% {
    transform: translateY(0px);
  }
  25% {
    transform: translateY(251px);
  }
  50% {
    transform: translateY(0px);
  }
  75% {
    transform: translateY(251px);
  }
  100% {
    transform: translateY(0px);
  }
}
@keyframes blip {
  0% {
    left: 0px;
  }
  50% {
    left: 1px;
  }
  100% {
    left: 0px;
  }
}
#scanner .complete-check {
  transition: opacity 500ms cubic-bezier(0.25, 1, 0.5, 1);
}
#scanner.complete .complete-check {
  opacity: 1;
}
.found #scanner svg {
  opacity: 0;
}

/* *** S1 FOOTER *** */
#tray {
  position: fixed;
  width: 100vw;
  height: 40vh;
  bottom: 0;
  left: 0; 
  right: 0;
  transition: all 1s, bottom 800ms cubic-bezier(0.25, 1, 0.5, 1);
  background-color: #ffffff;
}
#tray svg {
  width: 100%;
  height: 100%;
}
.found #tray {
  bottom: -40vh;
}
#status_label {
  text-anchor: middle;
  width: 100%;
  text-transform: uppercase;
}

.serum1 #scanner.complete ~ #tray #serum2,
.serum1 #scanner.complete ~ #tray #serum3,
.serum2 #scanner.complete ~ #tray #serum1,
.serum2 #scanner.complete ~ #tray #serum3,
.serum3 #scanner.complete ~ #tray #serum1,
.serum3 #scanner.complete ~ #tray #serum2 {
  opacity: 0.2;
}

.serum1 #tray.step-4 #serum1,
.serum2 #tray.step-4 #serum2,
.serum3 #tray.step-4 #serum3 {
  opacity: 1;
  transform-origin: 50% 50%;
  transform: scale(0.75,0.75) translate(22px, 175px);
}
#tray.step-4 #serum_check {
  opacity: 1;
}
.serum1 #tray.step-4 #serum2,
.serum1 #tray.step-4 #serum3,
.serum2 #tray.step-4 #serum1,
.serum2 #tray.step-4 #serum3,
.serum3 #tray.step-4 #serum1,
.serum3 #tray.step-4 #serum2 {
  opacity: 0;
}
#tray.step-4 #serum {
  /* transform: translate(-130px -15px); */
  opacity: 0;
}
#tray.step-4 #moisturizer {
  /* transform-origin: 50% 50%;
  transform: translate(169.5px, 29.5px); */
  cx: 238px;
  cy: 351px;
  r: 6px;
  stroke: #ffffff;
  fill: #000000;
}
#tray.step-4  #moisturizer0 {
  opacity: 0;
}
#tray.step-4 #moisturizer1,
#tray.step-4 #moisturizer7 {
  opacity: 1;
}
#tray.step-4 #moisturizer1 image,
#tray.step-4 #moisturizer7 image {
  width: 80px;
}
#tray.step-4 #moisturizer1 ellipse,
#tray.step-4 #moisturizer7 ellipse {
  r: 38px;
  
}
#tray.step-4 #moisturizer1 {
  transform: translate(151px, 221px);
}
#tray.step-4 #moisturizer7 {
  transform: translate(232px, 216px);
}

/* *** S1 BUTTONS *** */
a {
  opacity: 0;
  visibility: collapse;
  transition: opacity 0.5s cubic-bezier(0.25, 1, 0.5, 1);
}
a:hover, a:active, a:visited {
  color: #ffffff;
}
a:hover, a:active {
  background-color: rgba(255,255,255,0.2);
}

.found a {
  opacity: 1; 
  visibility: visible;
}

a.back {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.5em 1em;
  font-size: 1em;
}

a.add {
  position: absolute;
  bottom: 0.5em;
  left: 1em;
  right: 1em;
  padding: 0.5em 1em;
  font-size: 1.5em;
  border: solid 2px #ffffff;
}
/* cheat code? */
a.skip {
  position: absolute;
  color: transparent;
  padding: 0.5em 1em;
  font-size: 1em;
  top: 0; 
  right: 0;
}


/*# sourceMappingURL=scenario1.c22ee72a.css.map */